html, body { height: 100%; 
             outline: #ff7300;
}
* {
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    margin: 0;
    font-family: Kumbh Sans;
    padding-top: 80px;
}
@media screen and (max-width: 670px){
    body{
        padding-top: 60px;
    }
}
.container{
    width: 90%;
    margin: auto;
}
/*****header***/
header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 4px 17px 16px -22px rgba(0,0,0,0.32);
    -webkit-box-shadow: 4px 17px 16px -22px rgba(0,0,0,0.32);
    -moz-box-shadow: 4px 17px 16px -22px rgba(0,0,0,0.32);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header .container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

header .container .nav{
    display: inline-block;
    text-transform: uppercase;
}

header .container .nav img{
    display: none;
}

header .container ul{
    margin: 0;
    padding: 0;
}

header .container ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 15px 0 15px;
}

header .container ul li a {
    text-decoration: none;
    color: #000;
}

header .container ul li a:hover {
    margin-top: -8px;
    padding: 0 0 15px 0;
    border-bottom: 4px solid #ff7300;
}

@media screen and (max-width:670px) {
    header {
        height: 60px;
    }
    header .container{
        width: 95%;
        height: 60px;
    }
    header .container ul{
        display: none;
    }
    header .container ul li a{
        display: none;
    }
    header .container .nav img{
        display: block;
        color: #000;
        width: 24px;
    }
    header .container h1 {
        font-size: 30px;
    }
    
}
/**end of header**/

/***section 1**/
section.hero-section{
    width: 100%;
    position: relative;
}

section.hero-section img{
    width: 100%;
    height: 700px;
}

section.hero-section .container{
    width: 90%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 50px;
    color: #ffffff;
    z-index: 1;
}

section.hero-section .container .heading{
    font-family: inherit;
    font-size: 50px;
    font-weight: 700;
    width: 40%;
}

section.hero-section .container p{
    font-size: 20px;
    font-weight: 300;
    width: 50%;
}

section.hero-section .container button{
    width: 10%;
    padding: 20px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
section.hero-section #herosmall {
    display: none;
    width: 100%;
    height: auto;
    transform: rotateZ(180deg);
}
section.hero-section .container button:hover{
    background-color: #f8d2b2;
}

@media screen and (max-width:670px) {
    section.hero-section{
        width: 100%;
        position: relative;
        background-image: url("/images/herosmall.png");
    }
    section.hero-section img{
        display: none;
    }
    section.hero-section #herosmall {
        display: block;
        height: auto;
    }
    section.hero-section .container{
        position: static;
        color: #000;
        text-align: center;
        width: 100%;
    }
    section.hero-section .container .heading{
        font-size: 30px;
        width: 80%;
        margin: auto;
        margin: 50px auto 20px;
    }
    section.hero-section .container p{
        font-size: 18px;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    section.hero-section .container button{
        width: 30%;
    }
}
/***end of section1***/



/****section 2 parts*****/
section.parts{
    width: 100%;
    margin: 70px 0 0 0;
}

section.parts .container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.parts .container .first-img{
    position: relative;
}

section.parts .container .img{
    width: 100%;
    height: 500px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    opacity: 0.5;
}

section.parts .container .img:hover {
    opacity: 1;
}

section.parts .container .img-div{
    width: 50%;
    height: 500px;
    margin: 0 0 0 10px;
}

section.parts .container .second-img{
    position: relative;
    height: 245px;
    margin-bottom: 10px;
}

section.parts .container .img-div .imge{
    width: 100%;
    height: 245px;
    position: relative;
    margin: 0;
    border-radius: 5px;
    opacity: 0.5;
}

section.parts .container .img-div .imge:first-of-type{
    margin-bottom: 10px;
}

section.parts .container .img-div .imge:hover {
    opacity: 1;
}

.text {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    /* position: absolute;
    top: 40%;
    left: 2vmax;
    align-self: center; */
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background: none;
}

.text .main {
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}

.text .sub {
    font-size: 20px;
    font-weight: 300;
}

@media screen and (max-width: 670px){    
    section.parts .container{
        width: 100%;
        display: block;
    } 
    section.parts .container .first-img {
        width: 100%;
        height: auto;
        text-align: center;
    }
    section.parts .container .first-img .img{
        width: 90%;
        height: auto;
        margin: 0 auto 20px;
    }
    section.parts .container .img-div{
        width: 100%;
        height: auto;
        margin: 0;
    }
    section.parts .container .second-img{
        height: auto;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    section.parts .container .img-div .imge{
        width: 90%;
        height: auto;
        margin: 0 auto 20px;
    }
}

/****icon***/
section.icon  {
    width: 100%;
    margin: 0;
}

section.icon .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

section.icon .container .icons {
    width: 30%;
    text-align: center;
    height: auto;
}

section.icon .container .icons .icon-image {
    width: 350px;
    height: 350px;
    background: rgb(201,201,201);
    background: linear-gradient(90deg, rgba(201,201,201,1) 0%, rgba(255,255,255,1) 93%);
    border-radius: 50%;
    margin-bottom: 30px;
}

section.icon .container .icons .icon-image:hover {
    transform: scale(1.1);
}

section.icon .container .icons .icon-head {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 30px 0;
    text-transform: uppercase;
}
section.icon .container .icons .icon-para {
    font-size: 15px;
    font-weight: bold;
    line-height: 1 em;
}

@media screen and (max-width: 670px) {
    section.icon .container {
        justify-content: center;
    }
    section.icon .container .icons {
        flex-basis: 100%;
        text-align: center;
        margin: auto;
        height: auto;
        margin-bottom: 10px;
    }
    section.icon .container .icons .icon-image {
        max-width: 300px;
        max-height: 300px;
        margin: auto;
        margin-bottom: 25px;
    }
}


/*****************footer********************
*******************************************/
footer{
    margin: 200px 0 0 0;
    width: 100%;
    background-color: rgb(37, 27, 27);
    height: auto;
    position: relative;
}

footer .footer-project{
    position: absolute;
    width: 70%;
    top: -60px;
    left: 15%;
    height: auto;
    border-radius: 5px;
    padding: 40px 20px;
    background-color: #f0491b;
}

footer .footer-project .footer-head{
    color: #ffffff;
    margin: 0 0 10px 50px;
}

footer .footer-project .footer-para{
    color: #ffffff;
    margin: 0 0 0 50px;
}

footer .footer-project .footer-para span{
    /*margin: 0 0 0 200px;*/
    position: absolute;
    bottom: 20px;
    right: 20px;
}

footer .footer-project .footer-para span button{
    /*width: 12%;*/
    max-width: 200px;
    padding: 20px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

footer .footer-project .footer-para span button:hover{
    background-color: #f8d2b2;
}

footer .container{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 200px 0 0 0;
}

footer .container .nav{
    display: inline-block;
    text-transform: uppercase;
}

footer .container ul{
    margin: 0;
    padding: 0;
}

footer .container ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 15px 0 15px;
}

footer .container ul li a {
    text-decoration: none;
    color: #ffffff;
}

footer .container ul li a:hover {
    margin-top: -8px;
    padding: 0 0 10px 0;
    color: #ff7300;
}

hr{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    height: 0.1px;
    margin-top: -10px;
}

footer .container ul li a {
    text-decoration: none;
    color: #ffffff;
}

footer .footer-address{
    width: 90%;
    margin: 30px auto;
    margin-top: 30px;
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer .footer-address .address1 {
    margin: 10px 400px 10px 0;
}

footer .footer-icons {
    position: absolute;
    bottom: 20px;
    right: 50px;
}

footer .footer-icons img {
    padding: 0 10px;
}

footer .footer-icons img:hover {
    padding: 0 10px;
    transform: scale(1.5);
}

@media screen and (max-width: 670px) {
    footer{
        margin: 150px 0 0 0;
    }
    footer .footer-project{
        width: 100%;
        left: 0;
        text-align: center;
        height: auto;
        border-radius: 0;
        padding: 10px 0 10px;
        position: relative;
    }
    footer .footer-project .footer-head{
        margin: 0 0 10px 0;
    }
    footer .footer-project .footer-para{
        color: #ffffff;
        margin: 0;
    }
    footer .footer-project .footer-para span button{
        /*width: 12%;*/
        left: -150%;
        position: absolute;
        display: none;
    }
    footer .container{
        width: 100%;
        justify-content: center;
        padding: 0 0 0 0;
    }
    footer .container .nav{
        display: none;
    }
    footer .footer-address{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 50px;
    }
    footer .footer-address .address1 {
        margin: 0;
    }
    footer .footer-icons {
        position: absolute;
        bottom: 20px;
        right: 30%;
        max-width: 100%;
        height: -100px;
   }
}